# Ignore target directory and some common build-related directories
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/**/target/

# Include application.properties in src/main/resources
!**/src/main/resources/application.properties



### Environment Variables ###

# Other IDE-specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
